home/.config/nushell/history.txt

home/.config/dmenu/dmenu
home/.config/dmenu/dmenu.o
home/.config/dmenu/stest
home/.config/dmenu/stest.o
home/.config/dmenu/drw.o
home/.config/dmenu/util.o
home/.config/dwm/util.o
home/.config/dwm/drw.o
home/.config/dwm/dwm.o
home/.config/dwm/dwm
home/.config/dwmblocks/dwmblocks
