[user]
	name = gael-lopes-da-silva
	email = gael.lopes-da-silva@outlook.fr
[credential]
	helper = store
[pull]
	rebase = true
[rebase]
	autoStash = true
[core]
	editor = zeditor --wait
[feature]
	manyFiles = true
