input {
    touchpad {
        off
    }
}

window-rule {
    match app-id="steam" title="^notificationtoasts"

    geometry-corner-radius 0

    open-focused false
    open-floating true

    default-floating-position x=0 y=0 relative-to="bottom-right"

    border {
        off
    }
}
